body {
	width: 1000px;
	margin: 0 auto;
	}
#talk_page {
	background-image: URL("../images/uzumaki.png");

}	
* {
	font-family: Arial, Verdana, sans-serif;
	color: black;
	text-align: center;
	}
#nav1 {
	width: 1000px;
	padding: 15px;
	margin: 0px auto 0px;
	float: right;
	display: inline;
	background-color: transparent;
}
#nav2, #feature, .article {
	background-color: transparent;
	margin-top: 20px;
	padding: 10px 0px 5px 0px;
	}
#feature, .article {
	height: 100px;
	width: 1030px;
	background-color: #ffffff;
	}
#feature {
	background-image: URL("/images/fubuki.png");
}	
#nav2 {
	width: 1000px;
	padding: 15px;
	margin: 0px auto 0px;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
	text-align: center;
}	
.navi {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 18px 5px 18px;
	background-color: transparent;
	}
a:hover {
	color: #FF7700;
	background-color: #ffffff;
}
.tumblr {
	width:32px;
	height:32px;
}
.twitter {
	width:45px;
	height:45px;
}	
		
.column1, .column2 {
	background-color: #ffffff;
	width: 315px;
	float: left;
	margin: 10px;
		}
.column1 {
	width: 620px;
		}
.column3 {
	background-color: transparent;
	width: 1000px;
	float: left;
	margin: 10px;
	
}	
.column4 {
	width: 1000px
}	
img.align-left {
	float:left;
	margin-right: 10px;
	}
img.align-right {
	float:right;
	margin-left: 10px;
	}	
img.medium {
	width: 200px;
	height: 280px;
}	
img.self {
	width: 400px;
	height: 380px;
}
img.small {
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 10px;
}
li {
	display: inline;
	padding: 5px;
	}
fieldset {
	border: 2px solid #000;;
	background-color: transparent;
}	
